<mat-divider></mat-divider>

<div class="container">
  <h1>four thousand weeks</h1>

  <mat-form-field appearance="fill">
    <mat-label>Date of birth</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="updateWeeks($event)"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <span>Weeks {{ totalWeeks }} </span>

  <mat-divider></mat-divider>
</div>

<section class="section" *ngFor="let week of weeks; let i = index">
  <div *ngIf="i == 1000 || i == 2000 || i == 3000">
    <p>{{ i }}</p>
    <mat-divider> </mat-divider>
  </div>
  <svg width="22" height="22">
    <rect
      x="0.625"
      y="0.625"
      rx="2.5"
      ry="2.5"
      width="18.75"
      height="18.75"
      [style.fill]="week.active ? '#3f51b5' : '#e0e0e0'"
    />
  </svg>
</section>
<p>4000</p>
