.container {
  display: grid;
  place-items: center;
}

.section {
  display: inline;
  padding: 1px;
}

rect {
  stroke: black;
  stroke-width: 1;
}

::ng-deep .mat-checkbox-checkmark {
  display: none;
}
